<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>OCR Application with Django</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>


  <!-- JS Upload scripts -->
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  <script src="{% static 'photos/js/basic-upload.js' %}"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/web.css'%}">

  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">


</head>

<body class="loader">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding:5px 0px 0px 5px !important;margin-bottom:10px !important">
      <div class="navbar-collapse collapse w-50 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="navbar-brand" href="/">free online ocr</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">about ocr <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://github.com/tesseract-ocr/tesseract">about tesseract <span class="sr-only">(current)</span></a>
              </li>
          </ul>
      </div>
      <div class="navbar-collapse collapse ">
            {% block base %}
            {% endblock %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-50 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="https://github.com/m3hm3taydin/ocr-app-django">Github</a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-cog fa-fw"></i></a>
              </li> -->
          </ul>
      </div>
  </nav>

  <!-- Content Block -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="web_content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>

</html>
