{% extends 'base.html' %}



{% block content %}

<div style="margin-bottom: 20px;">
  <button type="button" class="btn text-white bg-secondary js-upload-photos">
    <span class="glyphicon glyphicon-cloud-upload"></span> Upload Files
  </button>
  <input id="fileupload" type="file" name="file" multiple style="display: none;" data-url="{% url 'upload' %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
</div>

<table id="gallery" class="table bg-secondary text-white table-sm table-bordered ">
  <thead>
    <tr>
      <th>Uploaded Files ({{ documents.count }})</th>
      <th>Language</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    {% for document in documents %}
    <tr class="table">
      <td>
        <a href="{{ document.file.url }}" class="btn btn-sm">
          <span class="fa fa-eye">&nbsp;{{ document.file.name }}</span>
        </a>

      </td>
      <td>
        <select class="selectpicker" data-live-search="true">
          <option>Türkçe</option>
          <option>English</option>
        </select>

      </td>
      <td>
        {% if document.converted_text %}
        <a data-ref="open-modal" operation="lookdata-{{ document.pk }}" href="#" class="btn btn-sm btn-success">
          <span class="fa fa-eye"></span> See Data
        </a>
        {% else %}
        <a href="{% url 'convert_document' pk=document.pk %}" class="btn btn-sm btn-success">
          <span class="fa fa-refresh"></span> Convert
        </a>
        {% endif %}
        <a href="{% url 'delete_document' pk=document.pk %}" class="btn btn-sm btn-danger">
          <span class="fa fa-times"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div id="modal-div"></div>


<script type="text/javascript">
$( document ).ready(function() {

  var modalDiv = $("#modal-div");
  $("a[data-ref='open-modal']").click(function() {
    var ops = $(this).attr('operation');
    url = "{% url 'null_modal' operation='changeText' %}".replace('changeText', ops);

    $.ajax({
      url: url,
      success: function(data) {
        modalDiv.html(data);
        $("#myEdit").modal('show');

      }
    });

  });


  });
  </script>





{% endblock %}
